<dx-chart
  id="chart"
  [dataSource]="dataSource"
  paletteExtensionMode="Blend"
  [title]="chartTitle"
>
  <dxo-export [enabled]="true"></dxo-export>
  @if (dataSource && dataSource.length > 0 && dataSource[0].ProfitValue) {
  <ng-container>
    <dxi-series
      valueField="ProfitValue"
      name="Lucro"
      cornerRadius="5"
      color="#2ECC40"
    ></dxi-series>
  </ng-container>
  } @if (dataSource && dataSource.length > 0 && dataSource[0].BillingValue) {
  <ng-container>
    <dxi-series
      valueField="BillingValue"
      name="Valor de Faturamento"
      cornerRadius="5"
      color="#2881db"
    ></dxi-series>
  </ng-container>
  } @if (dataSource && dataSource.length > 0 && dataSource[0].BillingQuantity) {
  <ng-container>
    <dxi-series
      valueField="BillingQuantity"
      name="Quantidade de Faturamento"
      cornerRadius="5"
    ></dxi-series>
  </ng-container>
  } @if (dataSource && dataSource.length > 0 && dataSource[0].ProfitPercentage)
  {
  <ng-container>
    <dxi-series
      valueField="ProfitPercentage"
      name="Porcentagem de Lucro"
      cornerRadius="5"
      color="#34D084"
    ></dxi-series>
  </ng-container>
  }

  <dxo-common-series-settings
    argumentField="{{ xAxis }}"
    type="bar"
    selectionMode="allArgumentPoints"
    hoverMode="onlyPoint"
    maxPointCount="5"
  ></dxo-common-series-settings>

  <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
  </dxo-tooltip>

  <dxo-legend [visible]="false"> </dxo-legend>
</dx-chart>

@defer (when dataSource) {
<app-bar-chart [dataSource]="dataSource"></app-bar-chart>
}
