.searchButton {
  // border: 1px solid rgba(0, 0, 0, 0.05);
}

nz-input-group {
  border-radius: 0.8rem;
}

nz-card {
  // background-color: rgba(0, 0, 0, 0.05);
}

nz-form-item {
  margin-bottom: 1rem;
}

form {
  margin-top: 1rem;
}
