<div class="wrapper">
  <nz-page-header nzBackIcon (nzBack)="routeReturn()">
    <nz-page-header-title>Formação de Preço</nz-page-header-title>
  </nz-page-header>

  <form nz-form [formGroup]="productForm">
    <nz-row nzAlign="bottom" nzJustify="space-between">
      <nz-form-item nz-col nzSm="24" nzXs="24">
        <nz-form-label nz-col nzSm="24" nzXs="24" nzFor="customer">
          Cliente
        </nz-form-label>

        <nz-form-control nz-col nzSm="24" nzXs="24" (click)="createModal()">
          <nz-input-group
            class="input border-radius-08rem"
            [nzSuffix]="showSearchCustomer ? suffixPercentage : undefined"
            nzSize="large"
            nzBorderless
            ><input
              type="text"
              nz-input
              readonly
              nzBorderless
              formControlName="customer"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-row>

    <nz-row nzAlign="bottom" nzJustify="space-between">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label nz-col nzSm="24" nzXs="24" nzFor="referenceId">
            Referência
          </nz-form-label>
          <nz-input-group
            class="border-radius-08rem"
            nz-col
            nzSm="24"
            nzXs="24"
            nzSize="large"
            class="input"
            ><input
              class="border-radius-08rem"
              type="text"
              nz-input
              nzBorderless
              placeholder="10"
              formControlName="referenceId"
              (blur)="getProduct()"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <button
          (click)="getProduct()"
          class="border-radius-08rem"
          nz-button
          nzType="default"
        >
          Pesquisar
        </button>
      </nz-form-item>
    </nz-row>
  </form>

  <nz-card
    *ngIf="product"
    (click)="openProduct()"
    class="border-radius-08rem"
    [nzBodyStyle]="{ padding: '1rem' }"
    ><app-product
      [product]="product"
      [productImg]="productImg"
      [path]="'pricing'"
    ></app-product>
  </nz-card>
</div>

<ng-template #suffixPercentage>
  <span style="margin: 0" nz-icon nzType="percentage" nzTheme="outline"></span>
</ng-template>

<ng-template #suffixCustomer>
  <button class="searchButton border-radius-08rem" nz-button nzType="default">
    <span nz-icon nzType="search" nzTheme="outline"></span>
  </button>
</ng-template>
