<div>
  <div class="img central">
    @if (productImg) {
    <img
      class="product-image d-flex central"
      width="200px"
      height="200px"
      [src]="productImg"
      alt="Foto do Produto"
      (click)="imgModal(true)"
    />
    } @if (product) {
    <h4 class="textCenter" nz-typography>
      {{ product.referenceName }}
    </h4>
    }
  </div>

  @if (product) {
  <nz-list nzSize="small" nzSplit="false">
    <nz-list-item>
      <span nz-typography> Referência </span>
      {{ product.referenceId }}
    </nz-list-item>
    <nz-list-item>
      <span nz-typography> Coleção </span>
      {{ product.collectionName }}
    </nz-list-item>
    <nz-list-item>
      <span nz-typography> Cores </span>
      {{ product.colors }}
    </nz-list-item>
  </nz-list>

  } @if (productCost) {
  <nz-divider nzText="Preço"></nz-divider>
  } @if (productCost && productTaxes) {
  <nz-list nzSize="small" nzSplit="false">
    <nz-list-item>
      <span nz-typography> <strong> Custo </strong> </span>
      <strong>
        {{ product.cost | currency : "BRL" : "symbol" : "1.2-2" }}
      </strong>
    </nz-list-item>

    <nz-list-item>
      <span nz-typography> Margem Contribuição </span>
      {{
        (productCost.markup.markupMargin / 100).toLocaleString("pt-br", {
          style: "percent",
          maximumFractionDigits: 2,
          minimumFractionDigits: 2
        })
      }}
    </nz-list-item>

    <nz-list-item>
      <span nz-typography> IR </span>
      {{
        (productTaxes["IR"] / 100).toLocaleString("pt-br", {
          style: "percent",
          maximumFractionDigits: 2,
          minimumFractionDigits: 2
        })
      }}
    </nz-list-item>

    <nz-list-item>
      <span nz-typography> CSLL </span>
      {{
        (productTaxes["CSLL"] / 100).toLocaleString("pt-br", {
          style: "percent",
          maximumFractionDigits: 2,
          minimumFractionDigits: 2
        })
      }}
    </nz-list-item>

    <nz-list-item
      [ngStyle]="{
        color: lucroCalculado < 0 ? '#ff3141' : '#119a28'
      }"
      ><span
        nz-typography
        [ngStyle]="{
          color: lucroCalculado < 0 ? '#ff3141' : '#119a28'
        }"
        ><strong> Resultado líquido </strong>
      </span>
      <strong>
        {{
          lucroCalculado > 0
            ? (lucroCalculado / 100).toLocaleString("pt-br", {
                style: "percent",
                maximumFractionDigits: 2,
                minimumFractionDigits: 2
              })
            : 0
        }}
      </strong>
    </nz-list-item>

    <nz-list-item>
      <span nz-typography> Preço Produto </span>
      {{ price | currency : "BRL" : "symbol" : "1.2-2" }}
    </nz-list-item>
  </nz-list>
  } @if (!productTaxes) {
  <div class="d-flex spaceBetween alignCenter">
    @if (product) {

    <div>
      <h5 class="marginZero">Custo</h5>
      <h4 class="marginZero" nz-typography>
        <strong>{{
          product.cost | currency : "BRL" : "symbol" : "1.2-2"
        }}</strong>
      </h4>
    </div>
    } @if (showOption) {

    <button
      class="border-radius-08rem"
      nz-button
      nzType="default"
      nzSize="large"
    >
      Selecionar
    </button>
    }
  </div>
  }
</div>

@if (form && productCost && productCost.markup.markupId) {
<div class="d-flex alignCenter" style="flex-direction: column">
  <h4 class="central">Preço final</h4>
  <form nz-form [formGroup]="form">
    <nz-form-item class="central">
      <nz-form-control>
        <input
          minlength="0"
          formControlName="newPrice"
          mask="separator,2"
          thousandSeparator="."
          prefix="R$"
        />
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
} @if (productCost && productCost.markup.markupId) {

<div class="d-flex alignCenter">
  @if (receitaLiquidaPrecoInput > 0) {
  <ng-container>
    <nz-avatar
      class="central"
      [nzSize]="64"
      style="background-color: #119a28"
      nzIcon="check"
    ></nz-avatar>
  </ng-container>
  } @else {

  <ng-template #deniedTemplate>
    <nz-avatar
      class="central"
      [nzSize]="64"
      style="background-color: #ff3141"
      nzIcon="close"
    ></nz-avatar>
  </ng-template>
  }
</div>
} @if (isVisible) {

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="product.referenceName"
  [nzClosable]="true"
  [nzFooter]="null"
  (nzOnCancel)="imgModal(false)"
>
  <ng-container *nzModalContent>
    <img
      class="product-image d-flex central"
      width="100%"
      [src]="productImg"
      alt="Foto do Produto"
      (click)="imgModal(false)"
    />
  </ng-container>
</nz-modal>
}
