nz-avatar {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

h5 {
  color: rgba(0, 0, 0, 0.7);
}

.wrapper {
  border-radius: 1rem;
}

nz-list-item {
  padding: 2px 0 !important;
}

nz-list {
  margin: 1rem 0;
}

nz-divider {
  margin: 1rem 0;
}

input {
  align-items: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 3rem;
  text-align: center !important;
  max-width: 15rem;
}

.approved {
  color: #119a28;
}

.denied {
  color: #ff3141;
}
