{{ productTaxes }}

<div>
  <div class="img central">
    <img
      class="product-image d-flex central"
      width="200px"
      height="200px"
      [src]="productImg"
      alt="Foto do Produto"
      (click)="imgModal(true)"
      *ngIf="productImg"
    />
    <h4 *ngIf="product" class="textCenter" nz-typography>
      {{ product.referenceName }}
    </h4>
  </div>

  <nz-list nzSize="small" nzSplit="false" *ngIf="product">
    <nz-list-item>
      <span nz-typography> Referência </span>
      {{ product.referenceId }}
    </nz-list-item>
    <nz-list-item>
      <span nz-typography> Coleção </span>
      {{ product.collectionName }}
    </nz-list-item>
    <nz-list-item>
      <span nz-typography> Cores </span>
      {{ product.colors }}
    </nz-list-item>
  </nz-list>

  <nz-divider *ngIf="productCost" nzText="Preço"></nz-divider>

  <nz-list nzSize="small" nzSplit="false" *ngIf="productCost">
    <nz-list-item>
      <span nz-typography> <strong> Custo </strong> </span>
      <strong>
        {{ product.cost | currency : "BRL" : "symbol" : "1.2-2" }}
      </strong>
    </nz-list-item>

    <nz-list-item>
      <span nz-typography> Margem Contribuição </span>
      {{ productCost.markup.markupMargin.toFixed(2).replace(".", ",") }}%
    </nz-list-item>

    <nz-list-item>
      <span nz-typography> IR </span>
      {{ productTaxes["IR"].toFixed(2).replace(".", ",") }} %
    </nz-list-item>

    <nz-list-item>
      <span nz-typography> CSLL </span>
      {{ productTaxes["CSLL"].toFixed(2).replace(".", ",") }} %
    </nz-list-item>

    <nz-list-item
      [ngStyle]="{
        color: lucroCalculado < 0 ? '#ff3141' : '#119a28'
      }"
      ><span
        nz-typography
        [ngStyle]="{
          color: lucroCalculado < 0 ? '#ff3141' : '#119a28'
        }"
        ><strong> Resultado líquido </strong>
      </span>
      <strong>
        {{
          lucroCalculado > 0 ? lucroCalculado.toFixed(2).replace(".", ",") : 0
        }}
        %
      </strong>
    </nz-list-item>

    <nz-list-item *ngIf="calcPrice()">
      <span nz-typography> Preço Produto </span>
      {{ calcPrice() | currency : "BRL" : "symbol" : "1.2-2" }}
    </nz-list-item>
  </nz-list>

  <div class="d-flex spaceBetween alignCenter">
    <div *ngIf="!calcPrice() && product">
      <h5 class="marginZero">Custo</h5>
      <h4 class="marginZero" nz-typography>
        <strong>{{
          product.cost | currency : "BRL" : "symbol" : "1.2-2"
        }}</strong>
      </h4>
    </div>

    <button
      class="border-radius-08rem"
      nz-button
      nzType="default"
      *ngIf="showOption"
      nzSize="large"
    >
      Selecionar
    </button>
  </div>
</div>

<div class="d-flex alignCenter" style="flex-direction: column">
  <h4 class="central">Preço final</h4>
  <form nz-form [formGroup]="form">
    <nz-form-item class="central">
      <nz-form-control>
        <input
          minlength="0"
          formControlName="price"
          mask="separator.2"
          thousandSeparator="."
          prefix="R$"
        />
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<div class="d-flex alignCenter">
  <ng-container *ngIf="receitaLiquidaPrecoInput > 0; else deniedTemplate">
    <nz-avatar
      class="central"
      [nzSize]="64"
      style="background-color: #119a28"
      nzIcon="check"
    ></nz-avatar>
  </ng-container>
</div>

<ng-template #deniedTemplate>
  <nz-avatar
    class="central"
    [nzSize]="64"
    style="background-color: #ff3141"
    nzIcon="close"
  ></nz-avatar>
</ng-template>

<ng-template #teste> Referência </ng-template>

<ng-template #tagTemplate> Conteúdo </ng-template>

<nz-modal
  *ngIf="isVisible"
  [(nzVisible)]="isVisible"
  [nzTitle]="product.referenceName"
  [nzClosable]="true"
  [nzFooter]="null"
  (nzOnCancel)="imgModal(false)"
>
  <ng-container *nzModalContent>
    <img
      class="product-image d-flex central"
      width="100%"
      [src]="productImg"
      alt="Foto do Produto"
      (click)="imgModal(false)"
    />
  </ng-container>
</nz-modal>
