<dx-chart id="chart" title="Lucro e Faturamento" [dataSource]="dataSource">
  <dxi-series
    valueField="BILLINGQUANTITY"
    name="Quantidade Faturamento"
  ></dxi-series>
  <dxi-series valueField="BILLINGVALUE" name="Valor Faturamento"> </dxi-series>
  <dxi-series valueField="PROFITVALUE" name="Lucro"></dxi-series>
  <dxo-common-series-settings
    argumentField="FIRSTNAME"
    type="bar"
    selectionMode="allArgumentPoints"
    hoverMode="onlyPoint"
  >
  </dxo-common-series-settings>
  <dxo-legend verticalAlignment="top" horizontalAlignment="center">
  </dxo-legend>
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-tooltip
    [enabled]="true"
    location="edge"
    [customizeTooltip]="customizeTooltip"
  >
  </dxo-tooltip>
</dx-chart>
