<dx-chart [dataSource]="dataSource" [title]="title">
  <dxi-series
    *ngIf="dataSource && dataSource.length > 0 && dataSource[0].valueField"
    argumentField="argumentField"
    valueField="valueField"
    name="label"
    type="bar"
    [color]="color"
    barWidth="50"
  ></dxi-series>

  <dxo-common-series-settings
    argumentField="argumentField"
    valueField="valueField"
    hoverMode="allArgumentPoints"
    selectionMode="allArgumentPoints"
    ><dxo-label
      [visible]="dxolabel"
      [format]="{
        type: 'fixedPoint',
        precision: 0
      }"
      displayFormat="{valueText}%"
      position="inside"
      backgroundColor="#ffffff00"
    ></dxo-label>
  </dxo-common-series-settings>

  <dxo-legend
    [visible]="dxoLegend"
    verticalAlignment="bottom"
    horizontalAlignment="center"
  ></dxo-legend>
</dx-chart>
