<nz-layout class="app-layout">
  <nz-sider
    nzCollapsible
    nzWidth="256px"
    class="menu-sidebar"
    [nzCollapsedWidth]="0"
    [(nzCollapsed)]="isCollapsed"
  >
    <div class="sidebar-logo">
      <img src="../assets/img/favicon.png" alt="logo" />
      <h1>PYGG WEB</h1>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="PCP" nzIcon="form">
        <ul>
          <li nzMatchRouter nz-menu-item routerLink="/main/quality">
            <span nz-icon nzType="exception"></span>
            <span>Qualidade</span>
          </li>
          <li nz-submenu nzTitle="Produtividade" nzIcon="monitor">
            <ul>
              <li nz-menu-item routerLink="/main/productivity">Estamparia</li>
              <li nz-menu-item>Bordado</li>
              <li nz-menu-item>Costura</li>
              <li nz-menu-item>Tituraria</li>
              <li nz-menu-item>Tecelagem</li>
              <li nz-menu-item>Revisão</li>
            </ul>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Comercial" nzIcon="form">
        <ul>
          <li nzMatchRouter nz-menu-item routerLink="/main/lucratividade/">
            <span nz-icon nzType="area-chart"></span>
            <span>Lucratividade</span>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Tinturaria" nzIcon="bg-colors">
        <ul>
          <li nzMatchRouter nz-menu-item routerLink="/main/calc">
            <span nz-icon nzType="calculator"></span>
            <span>Calculo Densidade</span>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Configurações" nzIcon="setting">
        <ul>
          <li nzMatchRouter nz-menu-item routerLink="/main/user">
            <span nz-icon nzType="user-add"></span>
            <span>Usuário</span>
          </li>
          <li nzMatchRouter nz-menu-item routerLink="/main/db">
            <span nz-icon nzType="cloud-server"></span>
            <span>Banco de Dados</span>
          </li>
        </ul>
      </li>
    </ul>
    <nz-row nzJustify="center" class="button--logout">
      <nz-col>
        <button nzType="primary" nz-button (click)="auth.signOut()">
          <span nz-icon nzType="logout" nzTheme="outline"></span> Deslogar
        </button>
      </nz-col>
    </nz-row>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
