<nz-layout class="app-layout">
  <nz-sider
    nzCollapsible
    nzWidth="256px"
    class="menu-sidebar"
    [nzCollapsedWidth]="0"
    [(nzCollapsed)]="isCollapsed"
  >
    <div class="sidebar-logo">
      <img src="../assets/img/favicon.png" alt="logo" />
      <h1>PYGG WEB</h1>
    </div>

    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        [(nzOpen)]="openMap['sub1']"
        (nzOpenChange)="openHandler('sub1')"
        nz-submenu
        nzTitle="PCP"
        nzIcon="form"
      >
        <ul>
          <li nzMatchRouter nz-menu-item routerLink="/main/quality">
            <span nz-icon nzType="exception"></span>
            <span>Qualidade</span>
          </li>
          <li nz-submenu nzTitle="Produtividade" nzIcon="monitor">
            <ul>
              <li
                nzMatchRouter
                nz-menu-item
                routerLink="/main/productivity"
                [nzSelected]="nzSelected"
              >
                Estamparia
              </li>
              <li nzMatchRouter nz-menu-item routerLink="/main/Bordado">
                Bordado
              </li>
              <li nzMatchRouter nz-menu-item routerLink="/main/Costura">
                Costura
              </li>
              <li nzMatchRouter nz-menu-item routerLink="/main/Tituraria">
                Tituraria
              </li>
              <li nzMatchRouter nz-menu-item routerLink="/main/Tecelagem">
                Tecelagem
              </li>
              <li nzMatchRouter nz-menu-item routerLink="/main/Revisão">
                Revisão
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li
        [(nzOpen)]="openMap['sub2']"
        (nzOpenChange)="openHandler('sub2')"
        nz-submenu
        nzOpen
        nzTitle="Comercial"
        nzIcon="form"
      >
        <ul>
          <li nzMatchRouter nz-menu-item routerLink="/main/lucratividade/">
            <span nz-icon nzType="area-chart"></span>
            <span>Lucratividade</span>
          </li>
        </ul>
      </li>

      <li
        [(nzOpen)]="openMap['sub3']"
        (nzOpenChange)="openHandler('sub3')"
        nz-submenu
        nzOpen
        nzTitle="Tinturaria"
        nzIcon="bg-colors"
      >
        <ul>
          <li nzMatchRouter nz-menu-item routerLink="/main/calc">
            <span nz-icon nzType="calculator"></span>
            <span>Calculo Densidade</span>
          </li>
        </ul>
      </li>

      <li
        [(nzOpen)]="openMap['sub4']"
        (nzOpenChange)="openHandler('sub4')"
        nz-submenu
        nzOpen
        nzTitle="Configurações"
        nzIcon="setting"
      >
        <ul>
          <li nzMatchRouter nz-menu-item routerLink="/main/user">
            <span nz-icon nzType="user-add"></span>
            <span>Usuário</span>
          </li>
          <li nzMatchRouter nz-menu-item routerLink="/main/db">
            <span nz-icon nzType="cloud-server"></span>
            <span>Banco de Dados</span>
          </li>
        </ul>
      </li>
    </ul>
    <nz-row nzJustify="center" class="button--logout">
      <nz-col>
        <button nzType="primary" nz-button (click)="auth.signOut()">
          <span nz-icon nzType="logout" nzTheme="outline"></span> Deslogar
        </button>
      </nz-col>
    </nz-row>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
