:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --viewport-width: 100vw;
}

.app-layout {
  height: 100vh;
  height: min-content;
}

nz-content {
  margin: 1rem !important;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 0.125rem 0 0.375rem rgba(0, 21, 41, 0.35);
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 4rem;
  overflow: hidden;
  line-height: 4rem;
  transition: all 0.3s;
  align-items: center;
}

.sidebar-logo img {
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 1.25rem;
  color: #000000;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.ant-layout-sider-zero-width-trigger:after {
  margin-top: 80vh;
}

.ant-drawer-header {
  background-color: black;
}

nz-header {
  padding: 0 0 0 1rem;
  width: 100%;
  z-index: 2;
  background: #ffffff;
}

.innerContent {
  padding: 1rem !important;
  background: #fff;
  height: calc(100vh - 2rem);
  overflow: auto;
}

.logoutButton {
  margin-top: auto !important;
  margin-bottom: 1.5rem;
}

.drawerHeader {
  padding: 0 1rem;
  overflow: hidden;
  align-items: center;
}

@media only screen and (max-width: 575px) {
  .inner-content {
    padding: 1rem !important;
  }

  nz-content {
    margin: 0.5rem !important;
  }
}
