<div class="wrapper">
  <div class="d-flex spaceBetween">
    <h2>Pesquisa</h2>
    <button nz-button nzType="primary" (click)="modalVisibility(true)">
      <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
      PARTIDA
    </button>
  </div>

  <form
    nz-form
    nzLayout="vertical"
    [formGroup]="form"
    (ngSubmit)="submitForm()"
  >
    <nz-row nzGutter="8">
      <nz-col nzXXl="24" nzXl="24" nzLg="24" nzMd="24" nzSm="24" nzXs="24">
        <nz-form-item>
          <nz-form-label nzRequired>Empresa</nz-form-label>
          <nz-form-control nzErrorTip="error">
            <nz-select
              [nzLoading]="isLoading"
              class="w-100"
              name="firstCompany"
              formControlName="SelectedCompany"
              ><nz-option
                nzRequired
                *ngFor="let company of companyOptions"
                [nzValue]="company.CD_EMP"
                [nzLabel]="company.OptionName"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="8">
      <nz-col nzSm="12" nzXs="12">
        <nz-form-item>
          <nz-form-label nzRequired>Período</nz-form-label>
          <nz-form-control
            nzErrorTip="Data obrigatória"
            class="ant-form-item-control"
            ><nz-date-picker
              nzFormat="dd/MM/yyy"
              class="w-100"
              formControlName="startDate"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSm="12" nzXs="12">
        <nz-form-item>
          <nz-form-label nzRequired>Até</nz-form-label>
          <nz-form-control
            nzErrorTip="Data obrigatória"
            class="ant-form-item-control"
            ><nz-date-picker
              nzFormat="dd/MM/yyy"
              class="w-100"
              formControlName="endDate"
              >Até</nz-date-picker
            ></nz-form-control
          ></nz-form-item
        ></nz-col
      ></nz-row
    ><nz-row nzGutter="8">
      <nz-col nzXs="24" nzSm="24">
        <label class="checkboxLabel" nz-checkbox formControlName="hideResolved"
          >Ocultar Resolvidos
        </label></nz-col
      ></nz-row
    ><button [nzSize]="size" nz-button nzType="default">
      <span nz-icon nzType="file-search" nzTheme="outline"></span>
      CONSULTAR
    </button>
  </form>
</div>

<app-modal-quality
  *ngIf="isModalVisible"
  [isModalVisible]="isModalVisible"
  (isModalVisibleChange)="modalVisibility($event)"
></app-modal-quality>
