nz-select {
  margin: 0 0.5rem 0.625rem 0;
  width: 7.5rem;
}

.button {
  min-width: 9.375rem !important;
}

.checkboxLabel {
  min-width: 9.375rem !important;
  margin-bottom: 1rem;
}

.wrapper {
  max-width: 36rem;
}
