<div class="wrapper">
  <h2 style="text-align: center" nz-typography>Formação de Preço</h2>

  <nz-card class="border-radius-1rem" [nzBodyStyle]="{ padding: '1rem' }">
    <app-product [product]="product" [showOption]="false"></app-product>
  </nz-card>

  <form nz-form [formGroup]="form">
    <nz-row [nzAlign]="'bottom'">
      <nz-form-item nz-col nzXs="21" nzSm="22">
        <nz-form-control>
          <nz-form-label nzFor="markupId" nzXs="12" nzSm="12">
            Markup
          </nz-form-label>
          <!--  -->
          <nz-form-label
            nzFor="markupId"
            nzXs="12"
            nzSm="12"
            [nzLabelAlign]="'right'"
            nzNoColon="true"
            *ngIf="markupInterest"
          >
            {{ markupInterest | number : "1.2-2" }} %
          </nz-form-label>
          <!--  -->
          <nz-select
            nzSm="24"
            nzXs="24"
            nzBorderless
            class="input border-radius-1rem"
            formControlName="markupId"
            (ngModelChange)="updateMarkupInterest($event)"
            nzSize="large"
          >
            <nz-option
              *ngFor="let item of markupOptions"
              [nzValue]="item.ID_TAB"
              [nzLabel]="item.CD_DS"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzXs="3" nzSm="2">
        <div class="taxLabel">
          {{ markupInterest | number : "1.1-1" }}
          <span *ngIf="markupInterest"> %</span>
        </div>
      </nz-form-item>
    </nz-row>

    <nz-row [nzAlign]="'bottom'">
      <nz-form-item nz-col nzXs="21" nzSm="22">
        <nz-form-control>
          <nz-form-label nzFor="paymentId">
            Condição de Pagamento
          </nz-form-label>
          <nz-select
            nzBorderless
            class="input border-radius-1rem"
            formControlName="paymentId"
            nzSize="large"
            (ngModelChange)="updatePaymentInterest($event)"
          >
            <nz-option
              *ngFor="let item of paymentOptions"
              [nzValue]="item.ID_PGTO"
              [nzLabel]="item.CD_DS"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col nzXs="3" nzSm="2">
        <div class="taxLabel">
          {{ paymentInterest | number : "1.1-1" }}
          <span *ngIf="paymentInterest"> %</span>
        </div>
      </nz-form-item>
    </nz-row>

    <nz-row [nzAlign]="'bottom'" [nzJustify]="'space-between'">
      <nz-form-item nzFlex="auto">
        <nz-form-control>
          <nz-form-label nz-col nzSm="24" nzXs="24" nzFor="markup">
            Lucro
          </nz-form-label>
          <nz-input-group
            class="input border-radius-1rem"
            [nzSuffix]="suffixTemplate"
            nz-col
            nzSm="24"
            nzXs="24"
            nzSize="large"
          >
            <input
              type="text"
              nz-input
              placeholder="10"
              formControlName="profit"
              nzBorderless
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nzSm="2" nzXs="2">
        <button
          (click)="submit()"
          class="border-radius-08rem"
          nz-button
          nzType="default"
        >
          <span nz-icon nzType="right" nzTheme="outline"></span>
        </button>
      </nz-form-item>
    </nz-row>
  </form>
</div>

<ng-template #suffixTemplate>
  <span style="margin: 0" nz-icon nzType="percentage" nzTheme="outline"></span>
</ng-template>
