nz-card {
  // background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}

nz-form-item {
  margin-bottom: 1rem;
}

.taxLabel {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
}
