<div class="wrapper">
  <nz-page-header nzBackIcon (nzBack)="routeReturn()">
    <nz-page-header-title>Formação de Preço</nz-page-header-title>
  </nz-page-header>

  <nz-card [nzBodyStyle]="{ padding: '1rem' }">
    <app-product [showOption]="false"></app-product>
  </nz-card>

  <form nz-form [formGroup]="form">
    <nz-row [nzAlign]="'bottom'">
      <nz-form-item nz-col nzXs="20" nzSm="22">
        <nz-form-control>
          <nz-form-label nzFor="markupId" nzXs="12" nzSm="12">
            Markup
          </nz-form-label>
          <!--  -->
          <nz-form-label
            nzFor="markupId"
            nzXs="12"
            nzSm="12"
            [nzLabelAlign]="'right'"
            nzNoColon="true"
            *ngIf="priceService.markupInterest"
          >
            {{ priceService.markupInterest | number : "1.2-2" }} %
          </nz-form-label>
          <!--  -->
          <nz-select
            nzSm="24"
            nzXs="24"
            nzBorderless
            class="input border-radius-08rem"
            formControlName="markupId"
            (ngModelChange)="updateMarkupInterest($event)"
            nzSize="large"
          >
            <nz-option
              *ngFor="let item of priceService.markupOptions"
              [nzValue]="item.ID_TAB"
              [nzLabel]="item.CD_DS"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzXs="4" nzSm="2">
        <div class="taxLabel">
          {{ priceService.markupInterest | number : "1.1-1" }}
          <span *ngIf="priceService.markupInterest"> %</span>
        </div>
      </nz-form-item>
    </nz-row>

    <nz-row [nzAlign]="'bottom'" [nzJustify]="'space-between'">
      <nz-form-item nz-col nzXs="20" nzSm="22">
        <nz-form-control>
          <nz-form-label nzFor="paymentId">
            Condição de Pagamento
          </nz-form-label>
          <nz-select
            nzBorderless
            formControlName="paymentId"
            nzSize="large"
            (ngModelChange)="updatePaymentInterest($event)"
            class="input border-radius-08rem"
          >
            <nz-option
              *ngFor="let item of priceService.paymentOptions"
              [nzValue]="item.ID_PGTO"
              [nzLabel]="item.CD_DS"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col nzXs="4" nzSm="2">
        <div class="taxLabel">
          {{ priceService.paymentInterest | number : "1.1-1" }}
          <span *ngIf="priceService.paymentInterest"> %</span>
        </div>
      </nz-form-item>
    </nz-row>

    <nz-row [nzAlign]="'bottom'" [nzJustify]="'space-between'">
      <nz-form-item nz-col nzXs="12" nzSm="20">
        <nz-form-control>
          <nz-form-label nzFor="markup"> Lucro </nz-form-label>
          <nz-input-group
            class="input"
            [nzSuffix]="suffixTemplate"
            nz-col
            nzSm="24"
            nzXs="24"
            nzSize="large"
          >
            <input
              type="text"
              nz-input
              placeholder="10"
              formControlName="profit"
              nzBorderless
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nzSm="4" nzXs="2">
        <button
          (click)="submit()"
          class="border-radius-08rem"
          nz-button
          nzType="default"
          nzSize="large"
          style="border-radius: 50% !important"
        >
          <span nz-icon nzType="right" nzTheme="outline"></span>
        </button>
      </nz-form-item>
    </nz-row>
  </form>
</div>

<ng-template #suffixTemplate>
  <span style="margin: 0" nz-icon nzType="percentage" nzTheme="outline"></span>
</ng-template>
