<section class="wrapper">
  <nz-page-header nzBackIcon (nzBack)="routeReturn()">
    <nz-page-header-title>Formação de Preço</nz-page-header-title>
  </nz-page-header>

  <nz-card [nzBodyStyle]="{ padding: '1rem' }">
    <app-product
      [product]="product"
      [productImg]="productImg"
      [productCost]="productCost"
      [showOption]="false"
    ></app-product>
  </nz-card>

  <form nz-form [formGroup]="priceForm" *ngIf="displayPriceForm">
    <nz-row nzAlign="bottom" nzJustify="space-between">
      <nz-form-item nz-col nzXs="19" nzSm="21">
        <nz-form-control>
          <nz-form-label nzFor="markupId"> Markup </nz-form-label>
          <nz-form-label
            nzFor="markupId"
            nzXs="12"
            nzSm="12"
            nzLabelAlign="right"
            nzNoColon="true"
          ></nz-form-label>
          <!-- *ngIf="priceService.markupInterest" -->
          <nz-select
            nzBorderless
            class="input border-radius-08rem"
            formControlName="markupId"
            (ngModelChange)="updateMarkupInterest($event)"
            nzSize="large"
            [nzLoading]="markupOptionsLoading"
            ><nz-option
              *ngFor="let item of markupOptions"
              [nzValue]="item.ID_TAB"
              [nzLabel]="item.CD_DS"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzXs="4" nzSm="2">
        <div class="taxLabel">
          {{ markupInterest | number : "1.1-1" }}
          <span *ngIf="markupInterest"> %</span>
        </div>
      </nz-form-item>
    </nz-row>

    <nz-row nzAlign="bottom" nzJustify="space-between">
      <nz-form-item nz-col nzXs="19" nzSm="21">
        <nz-form-control>
          <nz-form-label nzFor="paymentId">
            Condição de Pagamento
          </nz-form-label>
          <nz-select
            nzBorderless
            formControlName="paymentId"
            nzSize="large"
            (ngModelChange)="updatePaymentInterest($event)"
            class="input border-radius-08rem"
            [nzLoading]="paymentOptionsLoading"
            ><nz-option
              *ngFor="let item of paymentOptions"
              [nzValue]="item.ID_PGTO"
              [nzLabel]="item.CD_DS"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col nzXs="4" nzSm="2">
        <div class="taxLabel">
          {{ paymentInterest | number : "1.1-1" }}
          <span *ngIf="paymentInterest"> %</span>
        </div>
      </nz-form-item>
    </nz-row>

    <nz-row nzAlign="bottom" nzJustify="space-between">
      <nz-form-item nz-col nzXs="12" nzSm="12">
        <nz-form-control>
          <nz-form-label nzFor="markup"> Lucro </nz-form-label>
          <nz-input-group
            class="input border-radius-08rem"
            nz-col
            nzSm="24"
            nzXs="24"
            nzSize="large"
            ><input
              nz-input
              [allowNegativeNumbers]="false"
              mask="separator.2"
              thousandSeparator="."
              suffix="%"
              placeholder="10"
              formControlName="profit"
              nzBorderless
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <button
          (click)="submit()"
          class="border-radius-08rem"
          nz-button
          nzType="default"
          nzSize="large"
          style="border-radius: 50% !important"
        >
          <span nz-icon nzType="right" nzTheme="outline"></span>
        </button>
      </nz-form-item>
    </nz-row>
  </form>
</section>
