/* You can add global styles to this file, and also import other style files */

.wrapper {
  max-width: 48rem;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.border-radius-08rem {
  border-radius: 0.8rem !important;
}

.spaceBetween {
  justify-content: space-between;
}

.input {
  background-color: rgba(0, 0, 0, 0.05) !important;
  border: none;
}

nz-sider .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.marginZero {
  margin: 0 !important;
}

.central {
  margin: 0 auto !important;
}

nz-page-header {
  padding: 0 0.5rem !important;
}

.textCenter {
  text-align: center;
}

.alignCenter {
  align-items: center;
}

.ant-input-affix-wrapper-status-error:not(
    .ant-input-affix-wrapper-disabled
  ):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
.ant-input-affix-wrapper-status-error:not(
    .ant-input-affix-wrapper-disabled
  ):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
  border: 1px solid #ff4d4f;
  background-color: rgba(0, 0, 0, 0.05);
}
